---
import ProjectCard from "@/layouts/components/ProjectCard.astro";
import type { Project } from "@/layouts/ProjectSingle.astro";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props as Props;
---

<section class="section pt-10 md:pt-24">
  <div class="swiper">
    <div class="projectDeck-slider max-w-3xl mx-auto">
      <div class="swiper-wrapper">
        {
          projects.map((project) => (
            <div class="swiper-slide">
              <ProjectCard data={project} />
            </div>
          ))
        }
      </div>
      <div class="testimonial-slider-pagination"></div>
      <!-- Navigation buttons -->
      <div class="swiper-button-prev">&#10094;</div>
      <div class="swiper-button-next">&#10095;</div>
    </div>
  </div>
</section>

<script>
  import { Swiper } from "swiper";
  import type { Swiper as SwiperType } from "swiper"; // Add type import
  import "swiper/css";
  import "swiper/css/pagination";
  import "swiper/css/effect-coverflow";
  import { Pagination, EffectCoverflow, Navigation } from "swiper/modules";

  // Explicitly type the swiper instance
  let swiperInstance: SwiperType | null = null;

  function destroySwiper() {
    if (swiperInstance) {
      swiperInstance.destroy(true, true);
      swiperInstance = null;
    }
  }

  function initSwiper() {
    const savedSlide =
      Math.max(
        0,
        parseInt(localStorage.getItem("projectDeckActiveSlide") || "0", 10),
      ) || 0;

    swiperInstance = new Swiper(".projectDeck-slider", {
      effect: "coverflow",
      slidesPerView: "auto",
      centeredSlides: true,
      modules: [Pagination, Navigation, EffectCoverflow],
      pagination: {
        el: ".testimonial-slider-pagination",
        type: "bullets",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        enabled: false,
      },
      breakpoints: {
        // For small screens (default settings)
        0: {
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false,
          },
        },
        // For large screens (viewport width >= 1024px)
        1024: {
          coverflowEffect: {
            rotate: 50,
            stretch: 100,
            depth: 150,
            modifier: 1,
            slideShadows: false,
          },
          navigation: {
            enabled: true,
          },
        },
      },
      initialSlide: savedSlide,
      on: {
        slideChange: (swiper) => {
          localStorage.setItem(
            "projectDeckActiveSlide",
            swiper.activeIndex.toString(),
          );
        },
      },
    }) as SwiperType; // Type assertion here
  }

  document.addEventListener("astro:before-swap", destroySwiper);
  document.addEventListener("astro:page-load", initSwiper);
</script>
