html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-body dark:bg-darkmode-body font-primary font-normal leading-relaxed text-text dark:text-darkmode-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark dark:text-darkmode-dark;
  @apply scroll-mt-28;
}

/* For medium screens and larger */
@media (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-mt-24; /* Adjust accordingly (e.g., 20 => 5rem) */
  }
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote > p {
  @apply my-0 #{!important};
}

// Animation
// Animation Variables
$slide-fade-duration: 500ms;
$slide-in-duration: 300ms;
$slide-out-duration: 100ms;
$timing-function: ease-in-out;

// Shared Animation Mixin
@mixin slide-animation($name, $fromY, $toY, $fade: false) {
  animation: $name $timing-function var(--animation-duration) both;

  @keyframes #{$name} {
    from {
      @if $fade {
        opacity: 0;
      }
      transform: translateY($fromY);
    }
    to {
      @if $fade {
        opacity: 1;
      }
      transform: translateY($toY);
    }
  }
}

// Entrance Animations
.slide-fade-in {
  --animation-duration: #{$slide-fade-duration};
  @include slide-animation(slide-fade-in, 10vh, 0, true);
}

.slide-in {
  --animation-duration: #{$slide-in-duration};
  @include slide-animation(slide-in, -10vh, 0);
}

// Exit Animations (New)
.slide-fade-out {
  --animation-duration: #{$slide-fade-duration};
  @include slide-animation(slide-fade-out, 0, 10vh, true);
}

.slide-out {
  --animation-duration: #{$slide-out-duration};
  @include slide-animation(slide-out, 0, -10vh);
}

// Reduced Motion
@media (prefers-reduced-motion: no-preference) {
  .slide-fade-in,
  .slide-fade-out {
    animation-duration: $slide-fade-duration;
  }
}
