html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-body dark:bg-darkmode-body font-primary font-normal leading-relaxed text-text dark:text-darkmode-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark dark:text-darkmode-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote > p {
  @apply my-0 #{!important};
}

.slide-fade-in {
  animation: slide-fade-in-animation ease-in-out 700ms both; /* Use a different animation name */
}

@keyframes slide-fade-in-animation {
  from {
    opacity: 0; /* Start with 0 opacity */
    transform: translateY(10vh);
  }
  to {
    opacity: 1; /* End with 1 opacity */
    transform: translateY(0);
  }
}

/* Reduced motion media query (Important for accessibility) */
@media (prefers-reduced-motion: no-preference) {
  .slide-fade-in {
    animation: slide-fade-in-animation 700ms both;
  }
}
