.card {
  @apply relative rounded-3xl overflow-hidden;
  /* Backgrounds and text */
  @apply bg-theme-light dark:bg-darkmode-theme-light text-primary dark:text-darkmode-primary;
  /* Borders */
  @apply border border-border dark:border-darkmode-border;
  /* Transition */
  @apply transition-all duration-300 ease-in-out;
}

.card-hover:hover {
  @apply shadow-lg dark:shadow-darkmode-border;
  transform: scale(0.95) translateY(1rem);
}

.card-project {
  @apply max-w-md mx-auto flex flex-col h-[35rem] w-[25rem];
  @apply shadow-border dark:shadow-darkmode-border;
}

.card-project-hover:hover {
  @apply lg:shadow-lg lg:shadow-light lg:dark:shadow-light;
  transform: scale(0.95) translateY(1rem);
}

.card-button {
  opacity: 0;
  bottom: 0;
  transition: all 300ms ease-in-out;

  @apply rounded-full py-3.5 px-5 flex items-center;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-300;
  @apply text-primary dark:text-darkmode-primary;
  @apply bg-white dark:bg-dark bg-opacity-50 dark:bg-opacity-50;
  @apply border border-solid cursor-pointer;
  @apply border-black dark:border-white;
}

.card-image {
  filter: sepia(0.3) saturate(1.2) hue-rotate(-10deg);
}
